@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #F39C12, #D35400);
    /* Gradient from light orange to orange (left to right) */
}

.transparent-btn {
    background-color: transparent;
    border: 0;
    /* Set border to 0 */
    border-radius: 5px;
    /* Add border radius */
    color: white;
    /* Example text color */
    padding: 10px 20px;
    /* Example padding */
    font-size: 16px;
    /* Example font size */
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Example box shadow */
}

.transparent-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Example hover background color with transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Example hover box shadow */
}


.navbar {
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    margin-right: 20px;
    /* Added margin for space */
    padding: 0;
    flex: 0 0 auto;
}

.navbar-brand img {
    height: 40px;
    /* Adjust as needed */
    width: auto;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

}

.login-btn {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* Smooth transition effect */
}

.login-btn:hover {
    font-weight: bold;
    background-color: #ffffff;
    color: blue;
    /* Change to blue color on hover */
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sky {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Light blue sky color */
    overflow: hidden;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #F5B041, #F39C12);
    /* Gradient from center color to outer color */
    border-radius: 50%;
    animation: sunRise 10s linear infinite alternate;
}





@keyframes sunRise {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

@keyframes moveClouds {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(100%);
    }
}

/* for the pen */
html,
body {
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
}

/* waves */
.ocean {
    height: 80px;
    /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='white'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(-50%);
    }
}
